<p id="notice"><%= notice %></p>

<p>
  <b>Section:</b>
  <%= @gkconfig.section %>
</p>

<p>
  <b>Key:</b>
  <%= @gkconfig.key %>
</p>

<p>
  <b>Value:</b>
  <%= @gkconfig.value %>
</p>


<%= link_to 'Edit', edit_gkconfig_path(@gkconfig) %> |
<%= link_to 'Back', gkconfigs_path %>
