<td><%= username %></td>
<td><%= password %></td>
<td><%= firstname %></td>
<td><%= lastname %></td>

<td><a href="#/<%= id %>" class='btn btn-mini'>Show</td>
<td><a href="#/<%= id %>/edit" class='btn btn-mini'>Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy btn btn-mini btn-danger">Destroy</a></td>
